.error-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url(https://images.unsplash.com/photo-1525785967371-87ba44b3e6cf?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTV8fEVSUk9SfGVufDB8fDB8fHww);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
}

.error-container h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.error-container p {
    font-size: 24px;
    margin-bottom: 20px;
}

.btn {
    background-color: #f6b0a0;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}